.heading {
	margin-bottom: 50px;
}

.modal-header {
	background-color: #F0AD4E;
	border-color: ;
}

.jumbotron h1 {
	font-size: 50px;
	margin-top: 0;
}

#main-subheading {
	margin-top: 0;
	margin-bottom: 20px;
}

.modal-header h4 {
	color: #fff;
}

.top div, .mid div {
	height: 100px;
	background-color: #ddd;
}

img.arrows {
	width: 100%;
/*	margin: 5px 0 5px; */)
}

img.arrows2 {
	height: 100%;
	width: initial;
}

.bottom {
	height: 60px;
}

div.module {
	padding: 0;
}

button.module {
	height: 100%;
	font-size: 130%;
	white-space: normal;
}

.btn[disabled] {
	opacity: 1;
}

footer {
	font-size: 12px;
}

div.popover ul { list-style-type: none; }

#sidenote {
	z-index: 100;
	position: absolute;
	left: 100px;
	text-align: right;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding: 20px;
  background-color: #f5f5f5;
}
