.heading {
	margin-bottom: 50px;
}

.top div, .mid div {
	height: 100px;
	background-color: #ddd;
}

img.arrows {
	width: 100%;
	margin: 5px 0 5px;
}

div.module {
	padding: 0;
}

button.module {
	height: 100%;
	font-size: 130%;
	white-space: normal;
}

div.module:hover, div.module:focus {
	cursor: pointer;
}

div.popover ul { list-style-type: none; }